---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?aqi=no&key=58802e91e72141bf994235319232104&q=39.74001,%20-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/22/2023 15:45:48
      Cdn-Edgestorageid:
      - '1070'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 9d7419df7adbdd70697bc71c5fd0fb6f
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1682178348,"localtime":"2023-04-22
        9:45"},"current":{"last_updated_epoch":1682177400,"last_updated":"2023-04-22
        09:30","temp_c":-3.0,"temp_f":26.6,"is_day":1,"condition":{"text":"Mist","icon":"//cdn.weatherapi.com/weather/64x64/day/143.png","code":1030},"wind_mph":2.2,"wind_kph":3.6,"wind_degree":64,"wind_dir":"ENE","pressure_mb":1023.0,"pressure_in":30.21,"precip_mm":0.1,"precip_in":0.0,"humidity":86,"cloud":100,"feelslike_c":-6.1,"feelslike_f":21.0,"vis_km":11.0,"vis_miles":6.0,"uv":1.0,"gust_mph":5.4,"gust_kph":8.6}}'
  recorded_at: Sat, 22 Apr 2023 15:45:48 GMT
recorded_with: VCR 6.1.0
