---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?aqi=no&key=WEATHER_KEY&q=39.74001,%20-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/23/2023 19:36:39
      Cdn-Edgestorageid:
      - '1070'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 25a35625c3a52e2f79133748dba43c9a
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1682278599,"localtime":"2023-04-23
        13:36"},"current":{"last_updated_epoch":1682278200,"last_updated":"2023-04-23
        13:30","temp_c":9.1,"temp_f":48.4,"is_day":1,"condition":{"text":"Partly cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":240,"wind_dir":"WSW","pressure_mb":1016.0,"pressure_in":30.0,"precip_mm":0.0,"precip_in":0.0,"humidity":32,"cloud":25,"feelslike_c":8.1,"feelslike_f":46.6,"vis_km":16.0,"vis_miles":9.0,"uv":4.0,"gust_mph":5.1,"gust_kph":8.3}}'
  recorded_at: Sun, 23 Apr 2023 19:36:42 GMT
recorded_with: VCR 6.1.0
